Package: com.cpdigitaldarkroom.blow
Name: IGExperiments
Depends: mobilesubstrate
Version: 1.4
Architecture: iphoneos-arm
Description: Allows Modification of Experiments
Maintainer: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Author: CP Digital Darkroom <tweaks@cpdigitaldarkroom.support>
Section: Tweaks
